@using System.Security.Claims
@using Microsoft.AspNetCore.Http.Extensions
@{
    if (User.HasClaim(c => c.Type == "urn:discord:avatar:hash"))
    {
        ViewData["Avatar"] = $"https://cdn.discordapp.com/avatars/{User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value}/{User.Claims.First(c => c.Type == "urn:discord:avatar:hash").Value}.png?";
    }
    else
    {
        ViewData["Avatar"] = "https://justboil.me/tailwind-admin-template/img/avatars/1.jpg";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TokenBasedScript</title>
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon.ico">

    <meta property="og:url" content="@{ Context.Request.GetEncodedUrl(); }">
    <meta property="og:site_name" content="@Context.Request.Host.Value">
    <meta property="og:title" content="@ViewData["Title"] - TokenBasedScript">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="@ViewData["Title"] - TokenBasedScript">
    <link rel="stylesheet" href="css/main.css?v=1628755089081">

</head>
<body>

<header>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>

        <p>
            @foreach (var claim in Context.User.Claims)
            {
                <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>
            }
        </p>

        <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
    }

    else
    {
        <h1>Welcome, anonymous</h1>
        <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Sign in</a>
    }
    <nav id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item mobile-aside-button">
                <span class="icon">
                    <i class="mdi mdi-forwardburger mdi-24px"></i>
                </span>
            </a>
            <div class="navbar-item">
                <div class="control">
                    <input placeholder="Search everywhere..." class="input">
                </div>
            </div>
        </div>
        <div class="navbar-brand is-right">
            <a class="navbar-item --jb-navbar-menu-toggle" data-target="navbar-menu">
                <span class="icon">
                    <i class="mdi mdi-dots-vertical mdi-24px"></i>
                </span>
            </a>
        </div>
        <div class="navbar-menu" id="navbar-menu">
            <div class="navbar-end">

                <div class="navbar-item dropdown has-divider has-user-avatar">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a class="navbar-link">
                            <div class="user-avatar">
                                <img src="@ViewData["Avatar"]" alt="@User.Identity.Name" class="rounded-full">
                            </div>
                            <div class="is-user-name">
                                <span>@User.Identity.Name</span>
                            </div>
                            <span class="icon">
                                <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>

                        <div class="navbar-dropdown">
                            <a href="profile.html" class="navbar-item">
                                <span class="icon">
                                    <i class="mdi mdi-account"></i>
                                </span>
                                <span>My Profile</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon">
                                    <i class="mdi mdi-settings"></i>
                                </span>
                                <span>Settings</span>
                            </a>
                            <a class="navbar-item">
                                <span class="icon">
                                    <i class="mdi mdi-email"></i>
                                </span>
                                <span>Messages</span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                <span class="icon">
                                    <i class="mdi mdi-logout"></i>
                                </span>
                                <span>Log Out</span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <a title="Log in" class="navbar-item desktop-icon-only" href="/sigin">
                            <span class="icon">
                                <i class="mdi mdi-logout"></i>
                            </span>
                            <span>Log out</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </nav>

</header>
<partial name="_CookieConsentPartial"/>
<main role="main" class="pb-3">
    @RenderBody()
</main>


@Html.Partial("_Footer")

<!-- Scripts below are for demo only -->
<script type="text/javascript" src="js/main.min.js?v=1628755089081"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="js/chart.sample.min.js"></script>


<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '658339141622648');
  fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=658339141622648&ev=PageView&noscript=1"/>
</noscript>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

@await RenderSectionAsync("Scripts", false)

</body>
</html>