@model TokenBasedScript.Models.Settings

@{
    ViewData["Title"] = "Details";
    Layout = "_Default";
}

<h1>Details</h1>

<div>
    <h4>Settings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultValueString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultValueString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Name">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
