@model List<ScriptExecution>

@{
    ViewData["Title"] = "Script Statuses";
    Layout = "_Layout";
}


<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Script Statuses
        </h1>
    </div>
</section>

<section class="section main-section">

    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon">
                    <i class="mdi mdi-account-multiple"></i>
                </span>
                Execution Status
            </p>
            <a class="card-header-icon" href="#">
                <span class="icon">
                    <i class="mdi mdi-reload"></i>
                </span>
            </a>
        </header>
        @if (Model is {Count: > 0 })
        {
            <div class="card-content">
                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Script Name</th>
                        <th>Last Log</th>
                        <th>Progress</th>
                        <th>Last Update</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>


                    @{
                        int i = 1;
                    }
                    @foreach (var scriptExecution in Model)
                    {
                        <tr>
                            <td data-label="No">@(i++)</td>
                            <td data-label="Name">@scriptExecution.ScriptName</td>
                            <td data-label="Last Log">
                                @{
                                    var message = scriptExecution.Statuses.Last().Message;
                                }
                                @if (message != null)
                                {
                                    @(scriptExecution.Statuses.Count > 0 ? message[..Math.Min(message.Length, 20)] : "Not Started")
                                }
                            </td>
                            <td data-label="Progress" class="progress-cell @(scriptExecution.IsFinished ? (scriptExecution.IsSuccess ? "success" : "failed") : "running")">
                                <progress max="100" value="@((int) (scriptExecution.Progress * 100))">@((int)(scriptExecution.Progress*100))</progress>
                            </td>
                            <td data-label="Last Update">
                                <small class="text-gray-500" title="@scriptExecution.DateModified">@scriptExecution.DateModified</small>
                            </td>
                            <td data-label="Created">
                                <small class="text-gray-500" title="@scriptExecution.DateCreated">@scriptExecution.DateCreated</small>
                            </td>
                            <td class="actions-cell">
                                <div class="buttons right nowrap">
                                    <a class="button small green" type="button" href="@Url.Action("ScriptStatusDetail", "Home", new {id = scriptExecution.Id})">
                                        <span class="icon">
                                            <i class="mdi mdi-eye"></i>
                                        </span>
                                    </a>
                            
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <!--
                <div class="table-pagination">
                    <div class="flex items-center justify-between">
                        <div class="buttons">
                            <button class="button active" type="button">1</button>
                            <button class="button" type="button">2</button>
                            <button class="button" type="button">3</button>
                        </div>
                        <small>Page 1 of 3</small>
                    </div>
                </div>
                </div>
                !-->
            </div>
        }
        else
        {
            <div class="card empty">
                <div class="card-content">
                    <div>
                        <span class="icon large">
                            <i class="mdi mdi-emoticon-sad mdi-48px"></i>
                        </span>
                    </div>
                    <p>Nothing's here…</p>
                </div>
            </div>
        }
    </div>
</section>