@model ScriptExecution

@{
    ViewData["Title"] = Model.ScriptName ?? "Not Found";
    Layout = "_Layout";

}

@if (Model?.ScriptName == null)
{
    <h2>Not Found</h2>
}
else
{
    <section class="is-hero-bar notification @(Model.IsFinished ? (Model.IsSuccess ? "green" : "red") : "blue")">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
            <h1 class="title">
                @Model.ScriptName - @Html.DisplayFor(model => model.DateCreated)
            </h1>
            <div class="progress-cell">
                <progress max="100" value="@((int) (Model.Progress * 100))">@((int) (Model.Progress * 100))</progress>
            </div>
        </div>
        
        <button class="button green --jb-modal"  data-target="replay-modal">Replay</button>
        <button class="button light" onclick="window.location.href = '@Url.Action("ScriptStatus", "Home")'">Back</button>
         
    </section>
    <div class="modal" id="replay-modal">
        <div class="modal-background --jb-modal-close"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Replay Script</p>
            </header>
            <section class="modal-card-body">
                <p>Are you sure you want to replay this script?</p>
                <p>@Model.ScriptName @Model.DateCreated<p/>
            </section>
            <footer class="modal-card-foot">
                <button class="button --jb-modal-close">Cancel</button>
                <a href="@Url.Action("ScriptReplay","Script", new {id = Model.Id})" class="button blue --jb-modal-close">Confirm</a>
            </footer>
        </div>
    </div>
    <div class="card has-table">
        <div class="card-content">
            <table>
                <thead>
                <tr>
                    <th>Log</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>

                @if (Model.Statuses.Count == 0)
                {
                    <tr>
                        <td colspan="2">Pending</td>
                    </tr>
                }
                @foreach (var status in Model.Statuses.Reverse())
                {
                    <tr>
                        <td data-label="Log">@status.Message</td>
                        <td data-label="Date">
                            <small class="text-gray-500" title="@status.DateCreated">@status.DateCreated</small>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    @if (!Model.IsFinished)
    {
        <script>
            setTimeout(function () {
                window.location.reload();
            }, 5000);
        </script>
    }
}