@model User

@{
    ViewData["Title"] = "Nike BRT";
    Layout = "_Layout";
}
<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Nike BRT Script
        </h1>
    </div>
    <div>
        <p class="lead">You have @Model.TokenLeft tokens left.</p>
    </div>
</section>


<section class="section main-section">
<div class="card mb-6">
<header class="card-header">
    <p class="card-header-title">
        <span class="icon">
            <i class="mdi mdi-ballot"></i>
        </span>
        Forms
    </p>
</header>
<div class="card-content">
<form method="post" action="@Url.Action("NikeBRT", "Script")">
<div class="field">
    <label class="label">Delivery Contact</label>
    <div class="field-body">
        <div class="field">
            <div class="control icons-left">
                <input class="input" placeholder="Order Number" type="text" value="@ViewBag.Order?.orderNumber" name="orderNumber"/>
                <span class="icon left">
                    <i class="mdi mdi-numeric"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control icons-left icons-right">
                <input class="input" placeholder="Order Email" type="email" name="orderEmail" value="@ViewBag.Order?.orderEmail"/>
                <span class="icon left">
                    <i class="mdi mdi-mail"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control icons-left icons-right">
                <input class="input" placeholder="Name" type="text" name="name" value="@ViewBag.Order?.vasBrtForm.name"/>
                <span class="icon left">
                    <i class="mdi mdi-account"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="field">
<label class="label">Delivery Information</label>
<div class="field">
    <div class="control icons-left icons-right">
        <input class="input" placeholder="Telephone" type="text" name="telephone" value="@ViewBag.Order?.vasBrtForm.telephone"/>
        <span class="icon left">
            <i class="mdi mdi-phone"></i>
        </span>
    </div>
</div>
<div class="field">
    <div class="control icons-left icons-right">
        <input class="input" placeholder="Mobile Phone Number" type="text" name="mobilePhoneNumber" value="@ViewBag.Order?.vasBrtForm.mobilePhoneNumber"/>
        <span class="icon left">
            <i class="mdi mdi-cellphone"></i>
        </span>
    </div>
</div>
<div class="field">
    <div class="control icons-left icons-right">
        <input class="input" placeholder="Email" type="email" name="email" value="@ViewBag.Order?.vasBrtForm.email"/>
        <span class="icon left">
            <i class="mdi mdi-mail"></i>
        </span>
    </div>
</div>
<div class="field">
    <div class="control icons-left icons-right">
        <input class="input" placeholder="Address" type="text" name="address" value="@ViewBag.Order?.vasBrtForm.optionsData.address"/>
        <span class="icon left">
            <i class="mdi mdi-map-marker"></i>
        </span>
    </div>
</div>
<div class="field">
    <div class="control icons-left icons-right">
        <input class="input" placeholder="Postal Code" type="text" name="postCode" value="@ViewBag.Order?.vasBrtForm.optionsData.postCode"/>
        <span class="icon left">
            <i class="mdi mdi-map-marker"></i>
        </span>
    </div>
</div>
<div class="field">
    <div class="control icons-left icons-right">
        <input class="input" placeholder="Town" type="text" name="town" value="@ViewBag.Order?.vasBrtForm.optionsData.town"/>
        <span class="icon left">
            <i class="mdi mdi-map-marker"></i>
        </span>
    </div>
</div>

<div class="control">
<div class="select">
<select name="district" id="district">
<option value="AG">AGRIGENTO</option>

<option value="AL">ALESSANDRIA</option>

<option value="AN">ANCONA</option>

<option value="AO">AOSTA</option>

<option value="AR">AREZZO</option>

<option value="AP">ASCOLI PICENO</option>

<option value="AT">ASTI</option>

<option value="AV">AVELLINO</option>

<option value="BA">BARI</option>

<option value="BT">BARLETTA-ANDRIA-TRANI</option>

<option value="BL">BELLUNO</option>

<option value="BN">BENEVENTO</option>

<option value="BG">BERGAMO</option>

<option value="BI">BIELLA</option>

<option value="BO">BOLOGNA</option>

<option value="BZ">BOLZANO</option>

<option value="BS">BRESCIA</option>

<option value="BR">BRINDISI</option>

<option value="CA">CAGLIARI</option>

<option value="CL">CALTANISSETTA</option>

<option value="CB">CAMPOBASSO</option>

<option value="CI">CARBONIA-IGLESIAS</option>

<option value="CE">CASERTA</option>

<option value="CT">CATANIA</option>

<option value="CZ">CATANZARO</option>

<option value="CH">CHIETI</option>

<option value="CO">COMO</option>

<option value="CS">COSENZA</option>

<option value="CR">CREMONA</option>

<option value="KR">CROTONE</option>

<option value="CN">CUNEO</option>

<option value="EN">ENNA</option>

<option value="FM">FERMO</option>

<option value="FE">FERRARA</option>

<option value="FI">FIRENZE</option>

<option value="FG">FOGGIA</option>

<option value="FC">FORLI'-CESENA</option>

<option value="FR">FROSINONE</option>

<option value="GE">GENOVA</option>

<option value="GO">GORIZIA</option>

<option value="GR">GROSSETO</option>

<option value="IM">IMPERIA</option>

<option value="IS">ISERNIA</option>

<option value="AQ">L'AQUILA</option>

<option value="SP">LA SPEZIA</option>

<option value="LT">LATINA</option>

<option value="LE">LECCE</option>

<option value="LC">LECCO</option>

<option value="LI">LIVORNO</option>

<option value="LO">LODI</option>

<option value="LU">LUCCA</option>

<option value="MC">MACERATA</option>

<option value="MN">MANTOVA</option>

<option value="MS">MASSA CARRARA</option>

<option value="MT">MATERA</option>

<option value="VS">MEDIO-CAMPIDANO</option>

<option value="ME">MESSINA</option>

<option value="MI">MILANO</option>

<option value="MO">MODENA</option>

<option value="MB">MONZA E BRIANZA</option>

<option value="NA">NAPOLI</option>

<option value="NO">NOVARA</option>

<option value="NU">NUORO</option>

<option value="OG">OGLIASTRA</option>

<option value="OT">OLBIA-TEMPIO</option>

<option value="OR">ORISTANO</option>

<option value="PD">PADOVA</option>

<option value="PA">PALERMO</option>

<option value="PR">PARMA</option>

<option value="PV">PAVIA</option>

<option value="PG">PERUGIA</option>

<option value="PU">PESARO-URBINO</option>

<option value="PE">PESCARA</option>

<option value="PC">PIACENZA</option>

<option value="PI">PISA</option>

<option value="PT">PISTOIA</option>

<option value="PN">PORDENONE</option>

<option value="PZ">POTENZA</option>

<option value="PO">PRATO</option>

<option value="RG">RAGUSA</option>

<option value="RA">RAVENNA</option>

<option value="RC">REGGIO CALABRIA</option>

<option value="RE">REGGIO EMILIA</option>

<option value="RI">RIETI</option>

<option value="RN">RIMINI</option>

<option value="RM">ROMA</option>

<option value="RO">ROVIGO</option>

<option value="SA">SALERNO</option>

<option value="SS">SASSARI</option>

<option value="SV">SAVONA</option>

<option value="SI">SIENA</option>

<option value="SR">SIRACUSA</option>

<option value="SO">SONDRIO</option>

<option value="SU">SUD SARDEGNA</option>

<option value="TA">TARANTO</option>

<option value="TE">TERAMO</option>

<option value="TR">TERNI</option>

<option value="TO">TORINO</option>

<option value="TP">TRAPANI</option>

<option value="TN">TRENTO</option>

<option value="TV">TREVISO</option>

<option value="TS">TRIESTE</option>

<option value="UD">UDINE</option>

<option value="VA">VARESE</option>

<option value="VE">VENEZIA</option>

<option value="VB">VERBANO-CUSIO-OSSOLA</option>

<option value="VC">VERCELLI</option>

<option value="VR">VERONA</option>

<option value="VV">VIBO VALENTIA</option>

<option value="VI">VICENZA</option>

<option value="VT">VITERBO</option>
</select>
<script>
                            const district = "@ViewBag.Order?.vasBrtForm.optionsData.district" ;
                            if (district) {
                                document.getElementById('district').value = district;
                            }
                            
                            </script>
</div>
</div>
</div>
<hr>


<div class="field grouped">
    <div class="control">
        <button class="button green" type="submit">
            Submit
        </button>
    </div>
    <div class="control">
        <button class="button red" type="reset">
            Reset
        </button>
    </div>
</div>
</form>
</div>
</div>

</section>